<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{289.0,1335.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>boyUp.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>boyUp_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{89.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,67.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{66.0,235.0},{89.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{86.0,1220.0},{89.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_10.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{112.0,110.0}</string>
            <key>spriteOffset</key>
            <string>{-23.0,123.5}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{12.0,173.0},{112.0,110.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,383.0},{112.0,110.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{112.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{-31.5,209.0}</string>
            <key>spriteSourceSize</key>
            <string>{181.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,68.0},{112.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,232.0},{112.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_12.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,312.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,177.5}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,18.0},{146.0,312.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,795.0},{146.0,312.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_13.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{158.0,561.0}</string>
            <key>spriteOffset</key>
            <string>{-12.0,50.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,21.0},{158.0,561.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{158.0,561.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_14.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{88.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{21.0,268.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{68.0,34.0},{88.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{177.0,1122.0},{88.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{135.0,109.0}</string>
            <key>spriteOffset</key>
            <string>{-3.5,68.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,229.0},{135.0,109.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{150.0,900.0},{135.0,109.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{82.0,111.0}</string>
            <key>spriteOffset</key>
            <string>{23.0,75.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{73.0,221.0},{82.0,111.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1220.0},{82.0,111.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,109.0}</string>
            <key>spriteOffset</key>
            <string>{19.5,48.0}</string>
            <key>spriteSourceSize</key>
            <string>{181.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{65.0,249.0},{90.0,109.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,789.0},{90.0,109.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,109.0}</string>
            <key>spriteOffset</key>
            <string>{20.0,48.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{66.0,249.0},{90.0,109.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1109.0},{90.0,109.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,109.0}</string>
            <key>spriteOffset</key>
            <string>{20.0,48.0}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{66.0,249.0},{90.0,109.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{150.0,1011.0},{90.0,109.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,96.0}</string>
            <key>spriteOffset</key>
            <string>{40.5,41.5}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{82.0,262.0},{99.0,96.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,495.0},{99.0,96.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,96.0}</string>
            <key>spriteOffset</key>
            <string>{40.5,41.5}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{82.0,262.0},{99.0,96.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,691.0},{99.0,96.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>boyUp_9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,96.0}</string>
            <key>spriteOffset</key>
            <string>{40.5,41.5}</string>
            <key>spriteSourceSize</key>
            <string>{182.0,703.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{82.0,262.0},{99.0,96.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{162.0,593.0},{99.0,96.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
